html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

@theme {
  --color-primary: #8b5e3c;
  --color-secondary: #f6e9d7;
  --color-accent: #d97706;
  --color-dark: #2b1d16;
  --color-success: #3f8c4f;
}