html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@600;700&family=Great+Vibes&display=swap");

@theme {
  --color-primary: #8b5e3c;
  --color-secondary: #f6e9d7;
  --color-accent: #d97706;
  --color-dark: #2b1d16;
  --color-success: #3f8c4f;
}

@keyframes announcement {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-announcement {
  display: inline-block;
  animation: announcement 14s linear infinite;
}

.cardboard-bg {
  background-color: #b48358;

  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.05)),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.02) 0px,
      rgba(255, 255, 255, 0.02) 1px,
      transparent 1px,
      transparent 3px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.015) 0px,
      rgba(0, 0, 0, 0.015) 1px,
      transparent 1px,
      transparent 2px
    );

  box-shadow:
    inset 0 1px rgba(255, 255, 255, 0.08),
    inset 0 -1px rgba(0, 0, 0, 0.08);
}
